#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# -D_FORTIFY_SOURCE=2 breaks things in unexpected ways, so disable it
export DEB_BUILD_MAINT_OPTIONS = hardening=-fortify

%:
	dh $@ --with systemd

override_dh_installudev:
	dh_installudev --name=lms2012-compat-usb-hid-gadget

override_dh_systemd_enable:
	dh_systemd_enable --name=lms2012-compat-usb-hid-gadget@

override_dh_systemd_start:
	dh_systemd_start --no-restart-on-upgrade --no-start
